body{
    background-color: pink;
    text-align: center;
}
canvas{
    border: 1px solid black;
}

.container{
    background-color:lightpink;
    display: grid;
    grid-template-columns:1fr 800px 1fr;
}

.left{
    background-color: lightcoral;
}

.right{
    background-color: lightcoral;
}