body {
    background-color: pink;
    text-align: center;
}

canvas {
    border: 1px solid black;
}

.container {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 1fr 800px 1fr;
}

.left {
    background-color: lightcoral;
}

.right {
    background-color: lightcoral;
}


/*это просто градиентный фон*/

.preview-box {
    border: 1px solid #999;
    background: #991599;
    background: -moz-linear-gradient(left, #991599 0%, #e889cf 100%);
    background: -webkit-linear-gradient(left, #991599 0%, #e889cf 100%);
    background: linear-gradient(to right, #991599 0%, #e889cf 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#991599 0%', endColorstr='undefined', GradientType=1);
}